.layout-common{
    .comw{
        width: 92%;
        margin: 0 auto;
    }
}

.layout-header{
    z-index: 100;
    background-color:#131519;
    height: 61px;
    width: 100%;
    position: fixed;
    .w{
        margin-left: 20px;margin-right: 20px;height: 100%;
    }
    .l{float: left;}
    .r{float: right;}
    .logobox{
        position: relative;
        float: left;
        height: 61px;
    }
    .logo{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 40px;
        height: 40px;
        padding-left: 0;
        img{
            width: 100%;
        }
    }
    .title{
        margin-left: 50px;
        float: left;
        line-height: 61px;
        font-size: 24px;
        color: #fff;
        font-weight: lighter;
    }
    .userhead{
        margin: 10px;
        border-radius: 50px;
        width: 41px;
        height: 41px;
        overflow: hidden;
        // margin-right: 25px;
        img{
            width: 100%;
        }
    }
    .username{
        line-height: 61px;
        color: #fff;
        float: right;
        margin-right: 25px;
        font-size: 14px;
    }
    .loginbar{
        float: right;
        line-height: 61px;
        color: #fff;
    }
}


.layout-style{
    .layout-page-title{
        font-size: 24px;
    }
    .layout-funcbox{
        margin-top: 30px;
        padding-bottom: 30px;
        display: flow-root;
        .func-name{
            width: 100%;
            font-size: 18px;;
        }
        .func-content{
            width: 100%;
            margin-top: 15px;
            display: flow-root;
        }
    }
}