.layout-common{
    .comw{
        width: 92%;
        margin: 0 auto;
    }
}

.layout-header{
    z-index: 100;
    background-color:#131519;
    height: 61px;
    width: 100%;
    position: fixed;
    .w{
        margin-left: 20px;margin-right: 20px;height: 100%;
    }
    .l{float: left;}
    .r{float: right;}
    .logobox{
        position: relative;
        float: left;
        height: 61px;
    }
    .logo{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 40px;
        height: 40px;
        padding-left: 0;
        img{
            width: 100%;
        }
    }
    .title{
        margin-left: 50px;
        float: left;
        line-height: 61px;
        font-size: 24px;
        color: #fff;
        font-weight: lighter;
    }
    .loginbar{
        line-height: 61px;
        color: #fff;
    }
}